@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #191919;
  color: #ffffff;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

